
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
body{
	font-family: 'Lora', serif;

}

.wrapper{
	width: 100%;
	display: inline-flex;
	background: #000;
	height: 70px;
}
.bodtitle span{
  color: yellow;
  padding-left:  20px;
  font-weight: 1000;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}
.admin-wrapper{
	display: flex;
	height:500px;
}
.admin-wrapper .left-sidebar{
	flex: 2;
	border: 2px solid green;
	height: 100%;
	background: green;
}
.admin-wrapper .left-sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: aliceblue;
}
.admin-wrapper .left-sidebar ul li a{
	 font-size: 15px;
	  text-decoration: none;
    padding: 18px;
    display: block;
    color: #fff;
    border-bottom: 1px solid yellow;
}
.admin-wrapper .left-sidebar ul li a:hover{
    padding: 18px;
    background: #greenyellow;

    text-decoration: none;
    display: block;
    border-bottom: 1px solid green;
}
.admin-wrapper .admin-content{
	flex: 8;
	height: 100%;
	overflow-y: scroll;
	padding: 40px 100px 100px;
}
.admin-content .page-title{
	text-align: center;
	margin-bottom: 1.5rem;
}
table{
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
}
th,td{
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid red;
}
.edit{
	color: green;

}
.delete{
	color: red;
}
.publish{
	color: blue;
}
.edit:hover,
.delete:hover,
.publish:hover{
	text-decoration: underline;
}
form div{
	margin-bottom: 15px;
}
.contentadmin{
	position: inherit;
	float: right;
	color: white;
	 margin-left: 950px;
}
.btn{
	background: #000;
}